#{extends 'main.html' /}
#{set title:'Home' /}

  <!-- Le styles -->
    <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
   
    <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@{'/public/images/apple-touch-icon-114-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@{'/public/images/apple-touch-icon-72-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" href="@{'/public/images/apple-touch-icon-57-precomposed.png'}">
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Options Earnings</a>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
               <li class="dropdown">
       			 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Software <b class="caret"></b></a>
      			 <ul class="dropdown-menu">
          			<li><a href="/application/optionscalc">Strategy Builder</a></li>
         			<li><a href="/application/history">Historic Viewer</a></li>
       			 </ul>
      		</li>
      		  <li><a href="#education">Education</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a href="#about">About</a></li>
            </ul>
        </div>
      </div>
    </div>
  

<h1 align="center">Option Historic Viewer</h1>
    <div class="container">
<form class="form-inline" name="optionform" action="@{Application.showHistory()}"   method="GET">
<br/>
<br/>
  <div id="POItablediv" align="center">
  <div class="row">
  <div class="span3 offset4" align="center">
  	<table   border="0">
  		<thead>
  			<tr>
  			<th><label class="control-label">Ticker</label></th>
  			<th align="center"><label class="control-label">Date</label></th>
  		  </tr>
  		</thead>
  		<tbody>
  	
  		<tr>
  			<td><input size=5 type="text" class="span1" name="ticker" id="ticker"/></td>
  			<td><input data-datepicker="datepicker" class="small" type="text" name="optionsdate" id="optionsdate"></td>
  			<td> <button type="submit" class="btn">View</button></td>
   
       </tr>
       </tbody>
  	</table>
  	</div>
  	 </div>
  
  </div>
   
</form>

<div align="center">
<iframe name="my_iframe" width="800"  height="600" frameborder="0"></iframe>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
     <script src="@{'/public/javascripts/bootstrap-dropdown.js'}"></script>
     
<script src="@{'/public/javascripts/bootstrap-collapse.js'}"></script>
<script src="@{'/public/javascripts/bootstrap-datepicker.js'}"></script>



