

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Options History</title>
        <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
   
    <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">
    
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
   
    <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
   <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.flot.js'}"></script>
     <!-- Placed at the end of the document so the pages load faster -->
   <script src="@{'/public/javascripts/bootstrap.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
     <script src="@{'/public/javascripts/bootstrap-dropdown.js'}"></script>
     
<script src="@{'/public/javascripts/bootstrap-collapse.js'}"></script>

 </head>
    <body style="text-align: center;">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Options Earnings</a>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
               <li class="dropdown">
       			 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Software <b class="caret"></b></a>
      			 <ul class="dropdown-menu">
          			<li><a href="/application/optionscalc">Strategy Builder</a></li>
         			<li><a href="#buttonDropdowns">Historic Viewer</a></li>
       			 </ul>
      		</li>
      		  <li><a href="#education">Education</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a href="#about">About</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="span12 offset3">
    <h1 align="center">  Options Historical Detail </h1>
    </div>
	</div>
   <div id="placeholder" style="top:150px;left:300px;width:600px;height:400px;"></div>
	

<script type="text/javascript">
$(function () {
    var optionsData = [
    %{
    	
    	java.util.Iterator itr = detailData.optionsDatePrice.entrySet().iterator();
        while (itr.hasNext()) {
            java.util.Map.Entry pairs = (java.util.Map.Entry)itr.next();
             
     %}

        [${pairs.getKey()}, ${pairs.getValue()}]
        
     %{
    	 
    	 if(itr.hasNext())
    		 {
   %} 		 
    			,
       %{ }
     }
    %}
    ];  
  
    function doPlot(position) {
        $.plot($("#placeholder"),
           [ { data: optionsData, label: "Option price ($)" }],
           { 
        	grid: {
            hoverable: true, clickable: true },
            crosshair: { mode: "x" },
               xaxes: [ { mode: 'time' } ],
               yaxes: [ { min: 0 }],
           });
    }

    doPlot("right");
    
    $("button").click(function () {
        doPlot($(this).text());
    });
});
</script>
 

 </body>
  <!-- Le javascript
    ================================================== -->
  
</html>