 
  <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
  <!-- Le styles -->
    <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
   
    <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@{'/public/images/apple-touch-icon-114-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@{'/public/images/apple-touch-icon-72-precomposed.png'}">
    <link rel="apple-touch-icon-precomposed" href="@{'/public/images/apple-touch-icon-57-precomposed.png'}">
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Options Earnings</a>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
               <li class="dropdown">
       			 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Software <b class="caret"></b></a>
      			 <ul class="dropdown-menu">
          			<li><a href="/application/optionscalc">Strategy Builder</a></li>
         			<li><a href="/application/history">Historic Viewer</a></li>
       			 </ul>
      		</li>
      		  <li><a href="#education">Education</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a href="#about">About</a></li>
            </ul>
        </div>
      </div>
    </div>
  

<h1 align="center">Option Historic Viewer</h1>
    <div class="container">
<form class="form-inline" name="optionform" action="@{Application.showHistory()}"   method="GET">
<br/>
<br/>
  <div id="POItablediv" align="center">
  <div class="row">
  <div class="span3 offset4" align="center">
  	<table   border="0">
  		<thead>
  			<tr>
  			<th><label class="control-label">Ticker</label></th>
  			<th align="center"><label class="control-label">Date</label></th>
  		  </tr>
  		</thead>
  		<tbody>
  	
  		<tr>
  			<td><input style="height:20px;" size=5 type="text" class="span1" name="ticker" id="ticker" value="${optionsData.ticker}"/></td>
  			<td><input style="height:20px;" data-datepicker="datepicker" class="small" type="text" name="optionsdate" id="optionsdate" value="${optionsData.optionsDate}"></td>
  			<td> <button type="submit" class="btn">View</button></td>
   
       </tr>
       </tbody>
  	</table>
  	</div>
  	 </div>
  
  </div>
   
</form>
 
    <table id="yfncsumtab" class="offset2" cellpadding="0" cellspacing="0"
	border="0">
	<tr>
		<td colspan="3">
		<table border="0" cellspacing="0"
				class="yfnc_modtitle1"
				style="border-bottom: 1px solid #dcdcdc; margin-bottom: 10px; width: 100%;">
				
		</table>
	</td>
	</tr>
	<tr valign="top">
<td>
<strong> Stock Price : ${optionsData.stockPrice}  </strong>
</td>
</tr>
<tr>
<td colspan="3">
<table class="yfnc_modtitle1" cellspacing="0" border="0" style="border-bottom: 1px solid #dcdcdc; margin-bottom: 10px; width: 100%;"> </table>
</td>
</tr>
	<tr valign="top">
		<td>View By Expiration: 
		 %{
		 		int i = 0;
		 		String previousExpDate = null;
		 		 String selectedExpirationDate = optionsData.selectedExpirationDate;
					
		 		for(String expirationDate : optionsData.expirationDates)
					{
					   java.text.SimpleDateFormat formatter = new java.text.SimpleDateFormat("yyyy-MM-dd");
		   			   Date dt = formatter.parse (expirationDate);
		    		   formatter=new java.text.SimpleDateFormat("MMM");
  					    String month = formatter.format(dt);
  						String year=expirationDate.substring(2,4);
  						String expDate = month+" "+year;
  						if(previousExpDate !=null && previousExpDate.equals(expDate))
  						{
  						 	expDate = expDate + "'w"; 
  						 	previousExpDate=null;
  						}
  						else
  						{
  							previousExpDate=expDate;
  						}
				 		if((selectedExpirationDate == null && i == 0 ) || selectedExpirationDate.equals(expirationDate))
					   	{
					   	 optionsData.selectedExpirationDate=expirationDate;
					   	 if(i > 0)
			      {
					   
			%}
			|
		%{
			}
		%}	
			 <strong>${expDate}</strong> 
		%{ 
						}
			     else
			     {
			      if(i > 0)
			      {
			  %}  
				| 
			%{ 
				  }
			 %}
				<a
			href="/application/showHistory?ticker=${optionsData.ticker}&amp;optionsdate=${optionsData.optionsDate}&amp;expirationDate=${expirationDate}">${expDate}</a>
					
			%{		}
					i++;
						
					}	
		%}
		<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td height="2"></td>
				</tr>
			</table>
			<table class="yfnc_mod_table_title1" width="100%" cellpadding="2"
				cellspacing="0" border="0">
				<tr valign="top">
					<td><small><b><strong class="yfi-module-title">Call
									Options</strong></b></small></td>
					%{
							String expirationDate = optionsData.selectedExpirationDate;
							 String expiryDate="";
							if(expirationDate !=null)
							{
							 java.text.SimpleDateFormat formatter = new java.text.SimpleDateFormat("yyyy-MM-dd");
		   			   Date dt = formatter.parse (expirationDate);
		   			    formatter=new java.text.SimpleDateFormat("MMM dd, yyyy");
  					     expiryDate = formatter.format(dt);
  					    }
		   			   
							
					%}				
					<td align="right">Expire at ${expiryDate}</td>
				</tr>
			</table>
			<table class="yfnc_datamodoutline1" width="100%" >
				<tr valign="top">
					<td><table class="table table-striped table-bordered ">
						<thead>
							<tr>
								<tr>
								<th scope="col" class="yfnc_tablehead1"  align="left">Strike</th>
								<th scope="col" class="yfnc_tablehead1" >Symbol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Last</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Vol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Open Int</th>
							</tr>
							</tr>
						</thead>
				 %{
				for(Map<String,String> map : optionsData.datalist)
					{
					 String stockPrice=map.get("StockPrice");
					 String symbol= map.get("Symbol");
		  			 String type=map.get("TYPE");
		  			 String strike=map.get("Strike");
		  			 String last=map.get("Last");
		  			 String vol=map.get("Vol");
		  			 String openInt=map.get("OpenInt");
		  			 if("C".equals(type))
		  			 {
					%}
							<tr>
								<td class="yfnc_h" nowrap><a
									href="/application/showOptionDetail?ticker=${optionsData.ticker}&amp;strike=${strike}&amp;expiryDate=${optionsData.selectedExpirationDate}&amp;type=${type}"><strong><label class="control-label">${strike}</label></strong></a></td>
								<td class="yfnc_h"><label class="control-label">${symbol}</label></td>
								<td class="yfnc_h" align="right"><b><label class="control-label">${last}</label></b></td>
								<td class="yfnc_h" align="right"><label class="control-label">${vol}</label></td>
								<td class="yfnc_h" align="right"><label class="control-label">${openInt}</label></td>
							</tr>
								%{ 
						}
			   }
			%}
						</table></td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td height="10"></td>
				</tr>
			</table>
			<table class="yfnc_mod_table_title1" width="100%" cellpadding="2"
				cellspacing="0" border="0">
				<tr valign="top">
					<td><small><b><strong class="yfi-module-title">Put
									Options</strong></b></small></td>
					<td align="right">Expire at ${expiryDate}</td>
				</tr>
			</table>
			<table class="yfnc_datamodoutline1" width="100%" cellpadding="0"
				cellspacing="0" border="0">
				<tr valign="top">
					<td><table class="table table-striped table-bordered ">
						  <thead>
							<tr>
								<th scope="col" class="yfnc_tablehead1"  align="left">Strike</th>
								<th scope="col" class="yfnc_tablehead1" >Symbol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Last</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Vol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Open Int</th>
							</tr>
							</thead>
								 %{
				for(Map<String,String> map : optionsData.datalist)
					{
					 String stockPrice=map.get("StockPrice");
					 String symbol= map.get("Symbol");
		  			 String type=map.get("TYPE");
		  			 String strike=map.get("Strike");
		  			 String last=map.get("Last");
		  			 String vol=map.get("Vol");
		  			 String openInt=map.get("OpenInt");
		  			 if("P".equals(type))
		  			 {
					%}
							<tr>
								<td class="yfnc_tabledata1" nowrap><a
									href="/application/showOptionDetail?ticker=${optionsData.ticker}&amp;strike=${strike}&amp;expiryDate=${optionsData.selectedExpirationDate}&amp;type=${type}"><strong><label class="control-label">${strike}</label></strong></a></td>
								<td class="yfnc_tabledata1"><label class="control-label">${symbol}</label></td>
								<td class="yfnc_h" align="right"><b><label class="control-label">${last}</label></b></td>
								<td class="yfnc_h" align="right"><label class="control-label">${vol}</label></td>
								<td class="yfnc_h" align="right"><label class="control-label">${openInt}</label></td>
							</tr>
							%{ 
						}
			   }
			%}
						</table></td>
				</tr>
			</table>
			</td>
		<td width="15"></td>
		<td width="1%" class="skycell">
	</tr>
	</tbody>
</table>
  
  	
			
   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
     <script src="@{'/public/javascripts/bootstrap-dropdown.js'}"></script>
     
<script src="@{'/public/javascripts/bootstrap-collapse.js'}"></script>

			