

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Options History</title>
      <link href="@{'/public/stylesheets/layout.css'}" rel="stylesheet" type="text/css">
   <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
   <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.flot.js'}"></script>
   
 </head>
    <body>
    <h1>Options Detail Data</h1>

    <div id="placeholder" style="width:600px;height:300px;"></div>

    

<script type="text/javascript">
$(function () {
    var optionsData = [
    %{
    	
    	java.util.Iterator itr = detailData.optionsDatePrice.entrySet().iterator();
        while (itr.hasNext()) {
            java.util.Map.Entry pairs = (java.util.Map.Entry)itr.next();
             
     %}

        [${pairs.getKey()}, ${pairs.getValue()]
        
     %{
    	 
    	 if(itr.hasNext())
    		 {
   %} 		 
    			,
       %{ }
     }
     ];
    	
    %}
  
  
    function doPlot(position) {
        $.plot($("#placeholder"),
           [ { data: optionsData, label: "Option price ($)" }],
           { 
               xaxes: [ { mode: 'time' } ],
               yaxes: [ { min: 0 }],
           });
    }

    doPlot("right");
    
    $("button").click(function () {
        doPlot($(this).text());
    });
});
</script>
 </body>
</html>