   <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
   
    <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">
  
  <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
    
    <table id="yfncsumtab" cellpadding="0" cellspacing="0"
	border="0">
	<tr>
		<td colspan="3">
		<table border="0" cellspacing="0"
				class="yfnc_modtitle1"
				style="border-bottom: 1px solid #dcdcdc; margin-bottom: 10px; width: 100%;">
				
		</table>
	</td>
	</tr>
	<tr valign="top">
		<td>View By Expiration: 
		 %{
		 		int i = 0;
				for(Map<String,String> map : datalist)
					{
					 String expirationDate = map.get("ExpirationDate");
					 if(expirationDate !=null) 
					 {
					   if(i == 0)
					   {
					   
			%}
			<strong${expirationDate}</strong> 
		%{ 
					}
					else
					{
			%}	
				| <a
			href="/q/op?s=AAPL&amp;m=2012-04">${expirationDate}</a>
					
			%{		}
					i++;
						}
					}	
		%}
		<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td height="2"></td>
				</tr>
			</table>
			<table class="yfnc_mod_table_title1" width="100%" cellpadding="2"
				cellspacing="0" border="0">
				<tr valign="top">
					<td><small><b><strong class="yfi-module-title">Call
									Options</strong></b></small></td>
					<td align="right">Expire at close Thursday, March 22, 2012</td>
				</tr>
			</table>
			<table class="yfnc_datamodoutline1" width="100%" >
				<tr valign="top">
					<td><table class="table table-striped table-bordered ">
						<thead>
							<tr>
								<tr>
								<th scope="col" class="yfnc_tablehead1"  align="left">Strike</th>
								<th scope="col" class="yfnc_tablehead1" >Symbol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Last</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Vol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Open Int</th>
							</tr>
							</tr>
						</thead>
				 %{
				for(Map<String,String> map : datalist)
					{
					 String expirationDate = map.get("ExpirationDate");
					 if(expirationDate !=null) 
					 {
					   continue;
					 }
					 String stockPrice=map.get("StockPrice");
					 String symbol= map.get("Symbol");
		  			 String type=map.get("TYPE");
		  			 String strike=map.get("Strike");
		  			 String last=map.get("Last");
		  			 String vol=map.get("Vol");
		  			 String openInt=map.get("OpenInt");
		  			 if("C".equals(type))
		  			 {
					%}
							<tr>
								<td class="yfnc_h" nowrap><a
									href="/q/op?s=AAPL&amp;k=510.000000"><strong><label class="control-label">${strike}</label></strong></a></td>
								<td class="yfnc_h"><a href="/q?s=AAPL120323C00510000"><label class="control-label">${symbol}</label></a></td>
								<td class="yfnc_h" align="right"><b><label class="control-label">${last}</label></b></td>
								<td class="yfnc_h" align="right"><label class="control-label">${vol}</label></td>
								<td class="yfnc_h" align="right"><label class="control-label">${openInt}</label></td>
							</tr>
								%{ 
						}
			   }
			%}
						</table></td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td height="10"></td>
				</tr>
			</table>
			<table class="yfnc_mod_table_title1" width="100%" cellpadding="2"
				cellspacing="0" border="0">
				<tr valign="top">
					<td><small><b><strong class="yfi-module-title">Put
									Options</strong></b></small></td>
					<td align="right">Expire at close Thursday, March 22, 2012</td>
				</tr>
			</table>
			<table class="yfnc_datamodoutline1" width="100%" cellpadding="0"
				cellspacing="0" border="0">
				<tr valign="top">
					<td><table class="table table-striped table-bordered ">
						  <thead>
							<tr>
								<th scope="col" class="yfnc_tablehead1"  align="left">Strike</th>
								<th scope="col" class="yfnc_tablehead1" >Symbol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Last</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Vol</th>
								<th scope="col" class="yfnc_tablehead1" 
									align="right">Open Int</th>
							</tr>
							</thead>
								 %{
				for(Map<String,String> map : datalist)
					{
					 String stockPrice=map.get("StockPrice");
					 String symbol= map.get("Symbol");
		  			 String type=map.get("TYPE");
		  			 String strike=map.get("Strike");
		  			 String last=map.get("Last");
		  			 String vol=map.get("Vol");
		  			 String openInt=map.get("OpenInt");
		  			 if("P".equals(type))
		  			 {
					%}
							<tr>
								<td class="yfnc_tabledata1" nowrap><a
									href="/q/op?s=AAPL&amp;k=510.000000"><strong><label class="control-label">${strike}</label></strong></a></td>
								<td class="yfnc_tabledata1"><a
									href="/q?s=AAPL120323P00510000"><label class="control-label">${symbol}</label></a></td>
								<td class="yfnc_h" align="right"><b><label class="control-label">${last}</label></b></td>
								<td class="yfnc_h" align="right"><label class="control-label">${vol}</label></td>
								<td class="yfnc_h" align="right"><label class="control-label">${openInt}</label></td>
							</tr>
							%{ 
						}
			   }
			%}
						</table></td>
				</tr>
			</table>
			</td>
		<td width="15"></td>
		<td width="1%" class="skycell">
	</tr>
	</tbody>
</table>
  
  	
			
   <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
     <script src="@{'/public/javascripts/bootstrap-dropdown.js'}"></script>
     
<script src="@{'/public/javascripts/bootstrap-collapse.js'}"></script>

			