#{extends 'main.html' /}
#{set title:'Options History' /} 
    <link href="@{'/public/stylesheets/layout.css'}" rel="stylesheet" type="text/css">
    
        <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
   
    <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">
    
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
   
    <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery-1.7.1.js'}"></script>
   <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.flot.js'}"></script>
     <!-- Placed at the end of the document so the pages load faster -->
   <script src="@{'/public/javascripts/bootstrap.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
     <script src="@{'/public/javascripts/bootstrap-dropdown.js'}"></script>
     
<script src="@{'/public/javascripts/bootstrap-collapse.js'}"></script>
 
   <script language="javascript" type="text/javascript" src="@{'/public/javascripts/flot.axislabels.js'}"></script>
    <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.flot.threshold.js'}"></script>
     <script language="javascript" type="text/javascript" src="@{'/public/javascripts/jquery.flot.crosshair.js'}"></script>
   

  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Options Earnings</a>
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
               <li class="dropdown">
       			 <a class="dropdown-toggle" data-toggle="dropdown" href="#">Software <b class="caret"></b></a>
      			 <ul class="dropdown-menu">
          			<li><a href="/application/optionscalc">Strategy Builder</a></li>
         			<li><a href="/application/history">Historic Viewer</a></li>
       			 </ul>
      		</li>
      		  <li><a href="#education">Education</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a href="#about">About</a></li>
            </ul>
        </div>
      </div>
    </div>
    
    <div align="center">
    	<h1 align="center"> Options Historical Detail </h1>
    </div>
<div id="POItablediv" align="center">
  <div class="row">
  <div class="span3 offset4" align="center">
  	<table   border="0">
  		<thead>
  			<tr>
  			<th><label class="control-label">Ticker</label></th>
  			<th><label class="control-label">Strike Price</label></th>
  			<th><label class="control-label">Type</label></th>
  			<th colspan="2"><label class="control-label">Expiration Date</label></th>
  		  </tr>
  		</thead>
  		<tbody>
  	
  		<tr>
  			<td><input size=5 type="text" class="span1" name="ticker" id="ticker" value="${detailData.ticker}"/></td>
  			<td><input size=10 type="text"  class="span1"name=strikePrice value="${detailData.strikePrice}" id="strikePrice"/> </td>
  			<td><select class="span2" id="type_1" name="type_1"><option value="--" >--</option><option value="C">CALL</option><option value="P">PUT</option></select></td>
  			<td><input style="height:20px;" data-datepicker="datepicker" class="small" type="text" name="optionsdate" id="optionsdate" value="${optionsData.optionsDate}"></td>
  	
	    	<td> <button type="submit" class="btn">View</button></td>
       </tr>
       </tbody>
  	</table>
  	</div>
  	 </div>
  	 </div>
   <div id="placeholder" style="top:150px;left:300px;width:600px;height:400px;"></div>
	

<script type="text/javascript">
$(function () {
    var optionsData = [
    %{
    	
    	java.util.Iterator itr = detailData.optionsDatePrice.entrySet().iterator();
        while (itr.hasNext()) {
            java.util.Map.Entry pairs = (java.util.Map.Entry)itr.next();
             
     %}

        [${pairs.getKey()}, ${pairs.getValue()}]
        
     %{
    	 
    	 if(itr.hasNext())
    		 {
   %} 		 
    			,
       %{ }
     }
    %}
    ];  
  
    function doPlot(position) {
        $.plot($("#placeholder"),
           [ { data: optionsData, label: "Option price ($)" }],
           { 
        	grid: {
            hoverable: true, clickable: true },
            crosshair: { mode: "x" },
               xaxes: [ { mode: 'time',   axisLabel: 'Option Date' } ],
               yaxes: [ { min: 0 ,    axisLabel: 'Option Price', }],
           });
    }

    doPlot("right");
    
    $("button").click(function () {
        doPlot($(this).text());
    });
});
</script>
 

